server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employeedb
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: MY_SECRET_KEY_123456
  expiration: 86400000
